
<div class="charge package">

    <div class="heading">
        <span>Packages</span>
    </div>

    <div class="table">
        <div class="row header">
            <div class="col left type">Type</div>
            <div class="col middle name">Name</div>
            <div class="col right cost">Cost</div>
        </div>
        {{#subscriptions}}
        <div class="row">
            <div class="col left type">{{type}}</div>
            <div class="col middle name">{{name}}</div>
            <div class="col right cost">£{{currency cost}}</div>
        </div>
        {{/subscriptions}}
    </div>

    <div class="table">
        <div class="row">
            <div class="col left">&nbsp;</div>
            <div class="col middle">&nbsp;</div>
            <div class="col right">
                <div class="total">£{{currency total}}</div>
            </div>
        </div>
    </div>
</div>


