
<div class="charge store">

    <div class="heading">
        <span>Rentals</span>
    </div>

    <div class="table">
        <div class="row header">
            <div class="col left">Title</div>
            <div class="col middle">&nbsp;</div>
            <div class="col right">Cost</div>
        </div>
        {{#rentals}}
        <div class="row">
            <div class="col left">{{title}}</div>
            <div class="col middle">&nbsp;</div>
            <div class="col right">£{{currency cost}}</div>
        </div>
        {{/rentals}}
    </div>

    <div class="heading">
        <span>Buy and Keep</span>
    </div>

    <div class="table">
        <div class="row header">
            <div class="col left">Title</div>
            <div class="col middle">&nbsp;</div>
            <div class="col right">Cost</div>
        </div>
        {{#buyAndKeep}}
        <div class="row">
            <div class="col left">{{title}}</div>
            <div class="col middle">&nbsp;</div>
            <div class="col right">£{{currency cost}}</div>
        </div>
        {{/buyAndKeep}}
    </div>

    <div class="table">
        <div class="row">
            <div class="col left">&nbsp;</div>
            <div class="col middle">&nbsp;</div>
            <div class="col right">
                <div class="total">£{{currency total}}</div>
            </div>
        </div>
    </div>

</div>