
<div class="store">

    <div class="row header">
        <div class="col left">Title</div>
        <div class="col middle">Cost</div>
    </div>
    {{#rentals}}
    <div class="row">
        <div class="col left">{{title}}</div>
        <div class="col middle">{{cost}}</div>
    </div>
    {{/rentals}}

    <div class="row header">
        <div class="col left">Title</div>
        <div class="col middle">Cost</div>
    </div>
    {{#buyAndKeep}}
    <div class="row">
        <div class="col left">{{title}}</div>
        <div class="col middle">{{cost}}</div>
    </div>
    {{/buyAndKeep}}

    <div class="total">
        <span class="label">Total</span>
        <span class="total">{{total}}</span>
    </div>
</div>