<div id="skyBill">

    {{#statement}}
    <div id="statement">
        {{#period}}
        <div>
            <span class="label">From: </span>
            <span class="date">{{from}}</span>
        </div>

        <div>
            <span class="label">To: </span>
            <span class="date">{{to}}</span>
        </div>
        {{/period}}
    </div>
    {{/statement}}

    <div id="main_total" class="grandTotal">
        <span class="label">Total for this period: </span><span class="amount">{{currency total}}</span>
    </div>

    {{#package}}
    <div id="package"></div>
    {{/package}}

    {{#callCharges}}
    <div id="callCharges"></div>
    {{/callCharges}}

    {{#skyStore}}
    <div id="skyStore"></div>
    {{/skyStore}}

</div>



