<div id="skyBill">

    <p>
        {{#statement}}
        <div id="statement">
            {{#period}}
            <div>
                <span class="label">From: </span>
                <span class="date">{{from}}</span>
            </div>

            <div>
                <span class="label">To: </span>
                <span class="date">{{to}}</span>
            </div>
            {{/period}}
        </div>
        {{/statement}}
    </p>

    <p>
        <div id="main_total" class="grandTotal">
            <span class="label">Total for this period: </span><span class="amount">{{total}}</span>
        </div>
    </p>

    {{#package}}
    <p>
        <div id="package"/>
    </p>
    {{/package}}

    {{#callCharges}}
    <p>
        <div id="callCharges"/>
    </p>
    {{/callCharges}}

    {{#skyStore}}
    <p>
        <div id="skyStore"/>
    </p>
    {{/skyStore}}

</div>



